.most-popular, .most-recent {
  display: inline-block;
  width: 400px;
  margin-left: 2rem;
  margin-right: 30px;
  margin-top: .5rem;
  margin-bottom: 10px;
}

.most-popular-container {
  margin-top: 1rem;
}

.most-recent-container {
  margin-top: 1rem;
}


.article-image {
  width: 100%;
  height: 17rem;
}
